@use '../global/boilerplate' as *;

footer {
  @include displayFlex(center, center, column);
  padding: 3em;
  background: $black-light;
  gap: 1em;
  @media screen and (min-width: 900px) {
    flex-direction: row;
  }
}

footer p,
footer i {
  font-weight: 800;
  color: white;
  @media screen and (max-width: 450px) {
    font-size: 0.8em;
  }
}

.footer_icons {
  font-size: 1.5em;
}

.footer_icons a {
  margin: 0 0.5em;
  &:hover i {
    transform: scale(1.2);
  }
}
